pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.word {
  border: 1px solid black;
  padding: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.char-container {
  display: inline-block;
  padding-right: 25px;
}

.delay-container, .hold-container {
  display: inline-block;
  position: absolute;
}

.delay, .hold {
  font-size: smaller;
  position: relative;
  width: 20px;
  text-align: center;
}

.delay {
  color: gray;
  top: 15px;
  left: -25px;

}

.hold {
  color: #D3D3D3;
  top: -15px;
  left: -45px;
}
