pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.word {
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.char {
  display: inline-block;
  padding-right: 25px;
}

.delay-container {
  display: inline-block;
  position: absolute;
}

.delay {
  font-size: smaller;
  color: gray;
  position: relative;
  top: 15px;
  left: -25px;
  width: 20px;
  text-align: center;
}
