<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"></link>
    <style>
      {% block css %}{% endblock %}
    </style>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    {% block script %}{% endblock %}
    <script>
      {% block js %}{% endblock %}
    </script>
  </head>
  <body>
    <div id='container'>
      <div class='main'>
        <!-- Body -->
        <div id='body'>
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
